---
# Main sass file
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;	//black
$background-color: #fdfdfd; //white
$brand-color:      #111; //blue
$main-red:   rgba(220, 0, 0, 0.65);

$grey-color:       #828282; //grey
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$content-width:    100%;

$on-palm:          600px;
$on-laptop:        800px;
$on-mini:		   200px;	



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$font-name: "gotham";
$font-path: {{ baseurl }}/assets/fonts/gotham/gotham;

@font-face {
  font-family: 'gotham';
  src: url($font-path+'.eot');
  src: url($font-path+'.woff2') format('woff2'),
       url($font-path+'.woff') format('woff'),
       url($font-path+'.ttf') format('truetype'),
       url($font-path+'.svg#GothamLight') format('svg'),
       url($font-path+'.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
