<footer class="site-footer">
	<ul>
      <a target="_blank" id="github" href="http://www.github.com/nileahtobhair">
      	<img src="{{site.baseurl}}/pics/github.svg">
      </a>
      <a target="_blank" href="https://twitter.com/nileahtobhair">
      	<img src="{{site.baseurl}}/pics/twitter2.svg">
      </a>
      <a target="_blank" class="insta-container" href="https://instagram.com/niamhslawlor">
      	<img id="insta-link" src="{{site.baseurl}}/assets/instagram.svg">
      </a>
      
      <a target="_blank" href="https://www.linkedin.com/in/nlawlor/">
            <img id='linkedin-link' src="{{site.baseurl}}/pics/linkedin.svg">
      </a>
    </ul>
</footer>
