
.about-page{
    font-size: 14px;
    font-family: gotham;
    line-height: 30px;
    text-align: justify;
    width:100%;
    margin: 80px auto;
    overflow: auto;

    @media screen and ( max-width: 599px ){
        width:90%;
        margin-top:30px;
        text-align: center;
    }
    @media screen and ( max-width: 799px ){
        margin:0px;
        width:100%;
    }

    h1{
        text-align: center;
        margin-bottom: 45px;
        font-size:40px;
        font-family: gotham;
        @media screen and ( max-width: 799px ){
            margin-bottom:25px;
        }
    }
    .blurb{
        @media screen and ( max-width: 799px ){
            margin-top:20px;
        }
    }
    .profile{
        margin: 0 auto;
        display: block;
    }
}
