@charset "utf-8";


$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd; 
$brand-color:      #111; 
$main-red:         rgba(220, 0, 0, 0.65);

$grey-color:       #828282; 
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$content-width:    100%;

$on-palm:          600px;
$on-laptop:        800px;
$on-mini:          200px; 

$url :             'https://niamhlawlor.com'; 



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@mixin max-width($ppx) {
    @media screen and (max-width: $ppx) {
        @content;
    }
}

$font-name: "gotham";
$font-path: $url + '/assets/fonts/gotham/gotham';

@font-face {
  font-family: 'gotham';
  src: url($font-path+'.eot');
  src: url($font-path+'.woff2') format('woff2'),
       url($font-path+'.woff') format('woff'),
       url($font-path+'.ttf') format('truetype'),
       url($font-path+'.svg#GothamLight') format('svg'),
       url($font-path+'.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$skinny-font-name: "skinny";
$skinny-font-path: $url + '/assets/fonts/skinny/skinny';

@font-face {
  font-family: 'gotham';
  src: url($skinny-font-path+'.eot');
  src: url($skinny-font-path+'.woff2') format('woff2'),
       url($skinny-font-path+'.woff') format('woff'),
       url($skinny-font-path+'.ttf') format('truetype'),
       url($skinny-font-path+'.svg#GothamLight') format('svg'),
       url($skinny-font-path+'.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



