@charset "utf-8";



$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd; 
$brand-color:      #111; 
$main-red:         rgba(220, 0, 0, 0.65);

$grey-color:       #828282; //grey
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



$content-width:    100%;

$on-palm:          600px;
$on-laptop:        800px;
$on-mini:          200px; 

$url :             'https://niamhlawlor.com'; 



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$font-name: "gotham";
$font-path: $url + '/assets/fonts/gotham/gotham';

@font-face {
  font-family: 'gotham';
  src: url($font-path+'.eot');
  src: url($font-path+'.woff2') format('woff2'),
       url($font-path+'.woff') format('woff'),
       url($font-path+'.ttf') format('truetype'),
       url($font-path+'.svg#GothamLight') format('svg'),
       url($font-path+'.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    text-decoration: none;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}


h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 0;
}


img {
    max-width: 100%;
    vertical-align: middle;
}


figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


ul, ol {
    margin-left: $spacing-unit;
    padding:0;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    padding:0;
}


a {
    color: $brand-color;
    text-decoration: none;
    padding:0;
    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

a,a:focus, a:hover{
    text-decoration: none!important;
}


pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
