.big-menu{
	position:fixed;
	display: inline;
	top:30px;
	left:40px;
	a{
		text-decoration: none;
		color:#fff;
		display: block;
		text-transform: uppercase;
		font-family:"futura",gotham;
		font-weight:900;
		font-size:64px;
		line-height: 60px;
		@media screen and ( max-width: 799px ){
			font-size:45px;
		}

	}
	a:visited:hover,a:hover {
		color:#000;
	}
	a:visited {
		 color: #fff;
	}

	@media screen and ( max-width: 799px ){
       width:100%;
       position: fixed;
       padding:30px 20px;
       overflow: auto;
       left:0px;
       background-color: #b3b2b2;
       height:100vh;
     }
}

.big-heading{


}
ul#instagram-images{
	position: absolute;
	bottom:0;
	margin:0;
	list-style: none;
	text-decoration: none;
	@media screen and ( max-width: 1100px ){
		display: none;
	}
	li{
		background-color: #000;
		float:left;
		height:250px;
		@media screen and ( min-width: 1600px ){
				height:300px;
			}
		/*position: relative;*/
		img{
			width:250px;
			@media screen and ( min-width: 1600px ){
				width:300px;
			}
		/*	position:absolute;*/
			top:50%;
		}	
	}
}
