@import "base";


.post{
    overflow:auto;
    position: relative;
    header {
        margin-bottom: 2%;
        overflow:auto;
        text-align:center;
        width:70%;
        margin:0 auto;
        @include max-width($on-laptop) {
            font-size: 16px;
            width:100%;
            margin-top:30px;
        }
        .back{
            position: absolute;
            top:20px;
            right:15%;
            @include max-width($on-palm) {
                top:5px;
                right:82%;
                img{
                    height:60px;
                }
            }
        } 
    }
    .blog-post{
        @include max-width($on-palm) {
            padding-left:5px;
            padding-right:5px;
            text-align: justify;
        }
        .post-title{
            margin-top: 13%;
            color:rgba(45,190,96,0.7);
            font-family: gotham,caecilia, times, serif;
            font-size:35px;
            font-weight: 300;
            line-height: 32px;
            -webkit-font-smoothing:antialiased;
        }
    }
    .post-content {
        overflow:auto;
        margin: 2% auto 5% auto;
        width: 70%;
        font-size:15px;
        line-height:24px;
        color:#383838;
        font-family: gotham, helvetica, arial, sans-serif;

        @include media-query($on-laptop) {
            width: 100%;
            margin-top: 10%; 
            padding:10px;
        }
        h1{
            text-align: center;
        }
    }
    article{
        .tagline{
            margin-bottom: 40px;
            width:100%;
            display: block;
            font-size: 14px;
            text-align: center;
            font-family: sans-serif;
        }
        .project-screenshots{
            width:99%;
            border:1px solid black;
            max-width:100%;
        }
        img{
            margin:40px auto;
            max-width:650px;
            display: block;
            @include media-query($on-palm) {
                width:100%;
            }
            @include media-query($on-laptop) {
                max-width:100%;
            }
        }
    }  
}
