.mobilejazz-application{

    font-family: gotham,sans-serif;
    p{
        text-align:center;
        
    }
    ul{
        list-style: none;
    }
    .job-header{
        font-size:30px;
        width:100%;
        background-color:#0e88be;
        color:#fff;
        height:200px;
        margin-top:0px;
        text-align:center;
        padding:90px 0;
    }
    .application-layout-content{
        width:80%;
        display:block;
        margin:30px auto;
        font-size:15px;
        line-height: 25px;
    }
    .sub-jazz-heading{
        text-align:center;
        color:#0e88be;
        font-size:26px;
        margin:40px 0;
    }
    .bullet{
        max-width:35px;
        margin-top:5px;
    }
}