   
 .comments{
    width: 70%;
    margin: 0% auto;
    display: block;
 }


/**
 * Page content
 */

 .disclaimer{
    background-color :  $main-red;
    padding: 1.5%;
    font-style: italic;
    margin-top: 5%;
    h2{
        text-align: center;
        margin-bottom: 1%;
    }
 }
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 2em;
}


#dear-diary,
#freedom-chat{
    text-align: center;
    font-size:40px;
}
.cv-section{
    min-height:100vh;
}


