   
  
 /*#blogSum{
        margin-top:5%;
        margin-bottom: 0%;
        padding: 5% 0;
        position: relative;
    h2{
        text-align: center;
        width: 100%;
    }
    h1{
        text-align: center;
        font-size: 3.5em;
        color: $main-red;
        margin-bottom: 4%;
        font-family: "Courier New"
        }
    img.blog-img{
       -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        width: 130px;
        max-width: 20%;
        position: absolute;
        top:0;
        left:25%;
        display: block;
    }
    a,ul,li{
        text-decoration: none!important;
        list-style: none;
        font-size: 1.05em;
        margin: 0 0 1% 0;
    }
    li{
        position: relative;
        min-height: 50px;
        margin-bottom:60px;
    }
}*/

 .comments{
    width: 70%;
    margin: 0% auto;
    display: block;
 }


/**
 * Page content
 */

 .disclaimer{
    background-color :  $main-red;
    padding: 1.5%;
    font-style: italic;
    margin-top: 5%;
    h2{
        text-align: center;
        margin-bottom: 1%;
    }
 }
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 2em;
}


#dear-diary,
#freedom-chat{
    text-align: center;
    font-size:40px;
}
.cv-section{
    min-height:100vh;
}


