
.home{
    background-size:cover;
    min-height:100vh;
    width:100%;
    
    img{
        text-align: center;
        width:100%;
    }
    
    @media screen and ( max-width: 991px ){
        min-height: 200px;
        img{
          
        }
    }
}