
.home{
    background-size:cover;
    min-height:100vh;
    width:100%;
    
    img{
        text-align: center;
        width:100%;
    }
    
    @media screen and ( max-width: 991px ){
        min-height: 200px;
        img{
          
        }
    }
}
.background-container{
    min-height:100vh;
    width:100%;
    background-color: #b3b2b2;
    img.home-me{
        position: absolute;
        max-width: 500px;
        right:0px;
        bottom:0px;
        @media screen and ( max-width: 799px ){
            max-width:100px;
        }

    }
}

.background-container-blog{
    min-height:100vh;
    width:100%;
    background-color: #b3b2b2;
    .big-content{
        @media screen and ( max-width: 799px ){
            position:initial;
            width:100%;
            margin-top:60px;
            text-align: center;
            padding:15px;
        }

        width:70%;
        padding:10px 30px;
         h4{
            @media screen and ( max-width: 799px ){
               font-size:20px;
            }
            font-size:40px;
            margin-bottom:10px;
            a{
                font-size:30px;
                color:#fff;
                text-decoration: none;
                list-style:none;
            }
        }
        .date{
            margin-bottom:60px;
            font-size:20px;
            color:#fff;
        }
        h5{
            font-size:30px;
            padding:5px 0;
        }
        img{
            width:70%;
            margin:0 auto;
            display: block;
            padding:10px;
        }
        .tagline{
            text-align: center;
            font-size:12px;
            display: block;
        }
    }
    .big-menu{
        max-width:30%;
    }

}
.big-body{
    background-color: #b3b2b2;
    max-height: 100vh;
    overflow: hidden;
     @media screen and ( max-width: 799px ){
        max-height: auto;
        overflow: visible;
    }
}
.overflow-body{
     background-color: #b3b2b2;
}


.big-content{
    position: absolute;
    right:0px;
    top:50px;
    width:60%;
    h3,h4{
        text-transform: uppercase;
        font-family:"futura",gotham;
        font-weight:700;
    }
    h3{
        font-size:60px;
        margin-bottom:60px;
        color:#000;
        @media screen and ( max-width: 799px ){
            margin-bottom:10px;
            font-size:50px;
        }
    }
    h4.project-title{
        text-align: center;
        margin-bottom:40px;
    }
    h4{
        margin-bottom:60px;
        color:#000;

        a{
            color:#fff;
            text-decoration: none;
            list-style:none;
            font-size:30px;
            @media screen and ( max-width: 799px ){
               font-size:20px;
            }
        }
         @media screen and ( max-width: 799px ){
            margin-bottom:20px;
        }
    }

    p{
        font-size:18px;
    }
    .previous,.next{
        text-align: right;
        font-size:30px;
        text-transform: uppercase;
        font-family:"futura",gotham;
        color:#000;
        font-weight:700;
        position:absolute;
    }
    .next{
        right:90px;
        @media screen and ( max-width: 799px ){
            right:15px;
            margin-top:20px;
        }
    }
    .project-container{
        width:40%;
        float:left;
        margin-right:10px;
        margin-bottom:10px;
    }
    .social-links{
         margin-top:0px;
         margin-left:25px;
         @media screen and ( max-width: 799px ){
            display: block;
            margin-bottom:30px;
         }
        img{
            width:35px;
            margin-right:10px;
        }
        img#insta-link{
            width:38px;
            padding-top:10px;
        }
        img#linkedin-link{
            width:40px;
            padding-top:10px;
        }
    }
    @media screen and ( max-width: 799px ){
        position:initial;
        width:100%;
        margin-top:60px;
        text-align: center;
        padding:10px;
    }
    .filler{
        font-size:35px;
        margin-top:145px;
        
    }
    @media screen and( min-width: 799px ){
            .filler{
                display: none;
            }
        }
}