
.projects-page{
	
    
    ul{
        max-width:100%;
        margin:0 auto;
        display: block;
        list-style: none;
        overflow: auto;
        li {
            position:relative;
            float:left;
            border:none;
            padding:0;
            margin: 6px;
            max-width:45%;
            border:none;
            cursor:pointer;
            height:220px;
            @include media-query($on-palm) {
                width:100%;
                max-width: 100%;
                float:none;
                margin:0;
                height:auto;
                margin-bottom:10px;
            }
            img{
                width:auto;
                height:220px;
                @include media-query($on-palm) {
                    width:100%;
                    height:auto;
                }
            }
        }
        li:after,li:before{
            position:absolute;
            opacity:0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
        li:before{
            content: attr(data-content);
            width:100%;
            z-index:1;
            top:50%;
            transform: translateY(-50%);
            padding:4px 10px;
            text-align:center;
            border-radius: 3px;
            font-size:55px;
            color:#fff;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            font-family: Skinny,skinny, "Lucida Grande", sans-serif;
        }
        li:after{
            content:'\A';
            width:100%; height:100%;
            top:0; left:0;
            background:rgba(0,0,0,0.8);
        }
        li:hover:after, li:hover:before {
            opacity:1;
        }
    }
}



/*
.projects-template{
    background-color: #000;
    .projects-title{
        text-align: center;
        font-family: skinny, "Lucida Grande", sans-serif;
        font-size:85px;
        letter-spacing:5px;
        margin-top:60px;
        margin-bottom:60px;
        color:#fff;
    }
}*/
