/**
 * Site header
 */

.site-header {
    border-bottom: 1px solid #EAEAEA;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
    color : $text-color;
    margin: 0 auto;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            text-align: left;

        }
    }
}

/*
* About Page 
*/
#abouts{
    p:first-of-type{
    text-align:center;
    font-size: 3em;
    padding-top:5%;
    margin-bottom: 5%;

    }
}
#aboutContent{
    margin: 2% auto 5% auto;
    text-align:center;
     @include media-query($on-laptop) {
            font-size: 12px;
        }
}

/*
* Home Page
*/
.home{
    background:  linear-gradient(
      $main-red, 
      $main-red
    ), url("../pics/me.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        height: 650px;
        padding-bottom: 0%;
        margin:0;
    h1{
          text-align: center;
          color:white;
          font-size: 3em;
          font-size: 3vw;
          width: 50%;
          margin: 0 auto;
          display: block;
    }
    h1:first-of-type{
        padding-top: 9%;
    }
    img{
        text-align: center;
        border-radius: 50%;
        margin: 5% auto 0 auto;
        display: block;
        border: 6px solid white;
    }
}
   
  
 #blogSum{
        text-align:center;
        margin-top:5%;
        margin-bottom: 0%;
        //background: #E6E6E6;
        padding: 5% 0;
    h1{
        font-size: 3.5em;
        color: $main-red;
        margin-bottom: 4%;
        font-family: "Courier New"
        }
 
    a,ul,li{
        text-decoration: none;
        list-style: none;
        font-size: 1.05em;
        margin: 0 0 1% 0;
    }

}

#interactiveCV{
    background: #DEEFE7;
    padding: 0;
    img{
    width: 90%;
    margin:5% auto 0 auto;
    display: block;
    }
}


/*
 * Comments
 */

 .comments{
    width: 70%;
 //   margin: 5% auto;
    display: block;
 }
/**
 *  Footer
 */
.site-footer {
    border-top: 3px solid $grey-color-light;
    padding: 2% 0;
    margin: 0;
}

.footer-list{
    width:50%;
    text-align:center;
    margin:2% auto;
    display:block;
    padding:0;
    img{
        width:10%;
        margin: 0 10%;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



/**
 * Page content
 */

 .disclaimer{
    background-color :  $main-red;
    padding: 1.5%;
    font-style: italic;
    margin-top: 5%;
    h2{
        text-align: center;
        margin-bottom: 1%;
    }
 }
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 2em;
}

.post-list { /*List of blog posts */
    margin-left: 0;
    margin:0% auto;
    list-style: none;   

    li {
        margin-bottom: 15%;
    }
}

.post-meta {
    font-size: 1.25em;
    color: $main-red;
    @include media-query($on-laptop) {
        font-size: 9px;
    }
}

.post-link {
    display: block;
    font-size: 2em;
     @include media-query($on-laptop) {
        font-size: 20px;
    }

}

.post-excerpt{
    font-size: 1.15em;
    text-align: justify;
    .post-end-link{
        color: $main-red;
        font-size: 0.75em;
        font-style: italic;
    }
    @include media-query($on-laptop) {
        font-size: 10px;
    }
}

/**
 * Posts
 */
 .post{
 overflow:auto;
 margin-top: 5%;
  h1{
     @include media-query($on-laptop) {
        font-size: 25px;
 
    }
  }
 }
.post-header {
    margin-bottom: 2%;
    overflow:auto;
    text-align:center;
    @include media-query($on-laptop) {
        font-size: 16px;
    }
   
}

.post-title {
    font-size: 2em;
    line-height: 1;
    text-align: center;
   
}

.post-content {
    overflow:auto;
    margin: 5% auto 5% auto;
    width: 70%;
    @include media-query($on-laptop) {
            width: 100%;
            margin-top: 10%; 
        }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
