/**
 * Site header
 */

.site-header {
    border-bottom: 1px solid #EAEAEA;
    min-height: 56px;
    position: relative;
    color : $text-color;
    margin: 0 auto;
    background-color: #fff;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.menu-icon{
        img{
            display: none;
        }
    }
 .post-sub-title{
    margin:30px 0;
}
.standard-list{
    list-style: none;
    li{
        margin-bottom:5px;
    }
}
.site-nav {
    float: right;
    line-height: 56px;
    z-index:100;
    .page-link {
        font-size: 17px;
        color: $text-color;
        line-height: $base-line-height;
        padding:0 10px;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            text-align: center;
            img{
                display: block;
                padding-top: 6px;
                margin-top: 2px;
                margin-left:2px;
                width: 33px;
                height: 30px;
            }

            > svg {
                width: 18px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            text-align: left;
        }
    }
}

/*
* About Page 
*/

h1#about-me{
    text-align: center;
    margin-bottom: 45px;
    font-size:40px;
    font-family: gotham;
    @media screen and ( max-width: 799px ){
        margin-bottom:25px;
    }
}
.about-page{
    font-size: 14px;
    font-family: gotham;
    line-height: 30px;
    text-align: justify;
    width:100%;
    margin: 80px auto;
    .about-blurb{

    }
    @media screen and ( max-width: 599px ){
        width:90%;
        margin-top:30px;
        text-align: center;
       
    }
}
.about-page.row{
    @media screen and ( max-width: 799px ){
        margin:0px;
        width:100%;
    }
    .about-blurb{
        @media screen and ( max-width: 799px ){
            margin-top:20px;
        }
    }
}
.about-profile{
    /*width:350px;
    height:350px;
    border-radius:50%;*/
    margin: 0 auto;
    display: block;
}
/* end of about page */

/*
* Home Page
*/
.home{
    /*background: url("../assets/backer.svg");*/
    background-size:cover;
    min-height:100vh;
    width:100%;
    h1{
        text-align: center;
        color:white;
        position: relative;
        padding-left:10px;
        top: 50%;
        transform: translateY(-60%);
        font-size: 45px;
        letter-spacing: 2px;
        font-family: 'Lobster Two', "Lucida Grande", sans-serif;
    }
    img{
        text-align: center;
        width:100%;
    }
    .col-md-4,
    .col-md-5,
    .col-md-7,
    .col-md-8,
    .col-md-6{
        height: 100vh;
        min-height: 280px;
        margin:auto auto;
        display: block;
    }
    @media screen and ( max-width: 991px ){
        min-height: 200px;
        img{
           /* width:200px;
            height: 200px;
            bottom:0%;
            left:50%;
            top:inherit;
            transform: translateX(-50%);*/
        }
        .col-md-4,.col-md-7,.col-md-5,.col-md-8,.col-md-6{
            height: 50vh;
        }
        h1{
            font-size: 30px;
            top:0%;
            transform: translateY(0%);
        }
        h1 .sub-title{
            font-size: 40px;
        }
    }
    @media screen and ( max-width: 599px ) and (min-height: 520px){
        h1{
            margin-top:50px;
        }
    }

    .sub-title{
        font-size: 90px;
        font-family: 'Lobster Two', Helvetica, sans-serif;
        letter-spacing: 0px;
    }
   
}
   
  
 #blogSum{
        margin-top:5%;
        margin-bottom: 0%;
        //background: #E6E6E6;
        padding: 5% 0;
        position: relative;
    h2{
       /* position: absolute;
        top:45px;
        left:50%;*/
        text-align: center;
        width: 100%;
        }
    h1{
        text-align: center;
        font-size: 3.5em;
        color: $main-red;
        margin-bottom: 4%;
        font-family: "Courier New"
        }
    img.blog-img{
       -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        width: 130px;
        max-width: 20%;
        position: absolute;
        top:0;
        left:25%;
        display: block;
    }
    a,ul,li{
        text-decoration: none!important;
        list-style: none;
        font-size: 1.05em;
        margin: 0 0 1% 0;
    }
    li{
        position: relative;
        min-height: 50px;
        margin-bottom:60px;
    }
}

 /*
 * Contact page
 */

 .contact{
    label{
        display: block;
        margin-top: 20px;
    }
 }

 .comments{
    width: 70%;
    margin: 0% auto;
    display: block;
 }
/**
 *  Footer
 */
.site-footer {
    border-top: 3px solid $grey-color-light;
    padding: 2% 0;
    margin: 0;
    background-color: #fff;
}

.footer-list{
    width:100%;
    text-align:center;
    margin:2% auto;
    display:block;
    padding:0;
    @include media-query($on-palm) {
        width:100%;
    }
    @media screen and ( max-width: 799px ){
        a{
            display: inline-block;
        }
    }
    img{
        width:50px;
        margin: 0 10%;
        min-width:40px;
        @media screen and ( max-width: 599px ){
            margin:0 10px;
            width:40px;
        }
         @media screen and ( max-width: 799px ){
           
        }

    }
    img#insta-link{
        opacity: 0.5;
        width:55px;
        @media screen and ( max-width: 599px ){
            width:45px;
        }
    }
    img#linkedin-link{
        opacity: 0.7;
        width:60px;
        @media screen and ( max-width: 599px ){
            width:45px;
        }
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



/**
 * Page content
 */

 .disclaimer{
    background-color :  $main-red;
    padding: 1.5%;
    font-style: italic;
    margin-top: 5%;
    h2{
        text-align: center;
        margin-bottom: 1%;
    }
 }
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 2em;
}

.post-list { /*List of blog posts */
    margin-left: 0;
    margin:0% auto;
    list-style: none;   

    li {
        margin-bottom: 5%;
        padding-bottom: 20px;
        border-bottom:2px solid #F7F7F7;
    }
}

.post-meta {
    font-size: 1.25em;
    color: #000;
    @include media-query($on-laptop) {
        font-size: 9px;
    }
}

a.post-link {
    display: block;
    color:rgba(45,190,96,0.7);
    font-size: 2em;
     @include media-query($on-laptop) {
        font-size: 20px;
    }

}
a.post-end-link:visited{
    color:rgba(45,190,96,0.3);
    font-style: italic;
}

.post-excerpt{
    a:visited{
        color:rgba(45,190,96,0.7);
    }
    a.post-end-link:visited{
    color:rgba(45,190,96,0.3);
    }
    a.post-end-link{
        color:rgba(45,190,96,0.7);
        font-size: 15px;
        font-style: italic;
    }
    @include media-query($on-laptop) {
       font-size: 15px;
    }
}








/**
 * Posts
 */
 .post{
 overflow:auto;
 /*margin-top: 5%;*/
 position: relative;
  h1{
    margin-top: 1%;
    text-align: center;
    font-size:2.5em;
     @include media-query($on-laptop) {
        font-size: 25px;
 
    }
  }
  .main-head{
    margin-top: 13%;
    color:rgba(45,190,96,0.7);
    font-family: gotham,caecilia, times, serif;
    font-size:35px;
    font-weight: 300;
    line-height: 32px;
    -webkit-font-smoothing:antialiased;
  }
  .back-blog{
    position: absolute;
    top:20px;
    right:15%;
  }
    @include media-query($on-palm) {
        .back-blog{
            top:5px;
            right:82%;
            img{
                height:60px;
            }
        }
    }
 }
.post-header {
    margin-bottom: 2%;
    overflow:auto;
    text-align:center;
    width:70%;
    margin:0 auto;
    @include media-query($on-laptop) {
        font-size: 16px;
    }
   
}

.post-title {
    font-size: 2em;
    line-height: 1;
    text-align: center;
   
}

.post-content {
    overflow:auto;
    margin: 2% auto 5% auto;
    width: 70%;
    font-size:15px;
    line-height:24px;
    color:#383838;
    font-family: gotham, helvetica, arial, sans-serif;

    @include media-query($on-laptop) {
            width: 100%;
            margin-top: 10%; 
        }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    img{
        margin:40px auto;
        max-width:650px;
        display: block;
        @include media-query($on-palm) {
            width:100%;
        }
        @include media-query($on-laptop) {
            max-width:100%;
        }
    }
    img.project-screenshots{
        width:99%;
        border:1px solid black;
        max-width:100%;
    }
    .tagline{
        margin-bottom: 40px;
        width:100%;
        display: block;
        font-size: 14px;
        text-align: center;
        font-family: sans-serif;
    }
}

/*Blog posts content*/
.domain{
     img{
        margin:30px 0;
    }
    li,ul{
        list-style: none;
        text-decoration: none;
    }
    h3{
        margin-bottom: 20px;
    }
}
.mobilejazz-application{

    font-family: gotham,sans-serif;
    p{
        text-align:center;
        
    }
    ul{
        list-style: none;
    }
    .job-header{
        font-size:30px;
        width:100%;
        background-color:#0e88be;
        color:#fff;
        height:200px;
        margin-top:0px;
        text-align:center;
        padding:90px 0;
    }
    .application-layout-content{
        width:80%;
        display:block;
        margin:30px auto;
        font-size:14px;
    }
    .sub-jazz-heading{
        text-align:center;
        color:#0e88be;
        font-size:26px;
        margin:40px 0;
    }
}
.projects-template{
    background-color: #000;
    .projects-title{
        text-align: center;
        font-family: skinny, "Lucida Grande", sans-serif;
        font-size:85px;
        letter-spacing:5px;
        margin-top:60px;
        margin-bottom:60px;
        color:#fff;
    }
}
.projects-page{
    margin-bottom:60px;
    margin-top:30px;
    .portfolio-project:after,.portfolio-project:before{
        position:absolute;
        opacity:0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .portfolio-project:after{
        content:'\A';
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.8);
    }
    .portfolio-project:hover:after, .portfolio-project:hover:before {
        opacity:1;
    }
    .portfolio-project:before{
            content: attr(data-content);
            width:100%;
            z-index:1;
            top:50%;
            transform: translateY(-50%);
            padding:4px 10px;
            text-align:center;
            border-radius: 3px;
            font-size:55px;
            color:#fff;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            font-family: Skinny,skinny, "Lucida Grande", sans-serif;
    }
    .list-of-projects{
        max-width:95%;
        margin:0 auto;
        display: block;
        list-style: none;
        overflow: auto;
        li.portfolio-project {
            position:relative;
            border:1px solid #EAEAEA;
            padding:0;
            width:453px;
            float:left;
            margin: 6px;
            border:none;
            @media screen and ( max-width: 799px ){
                width:100%;
            }
            img{
                vertical-align:top;
                width:auto;
                height:250px;
                width:453px;
                margin:0 auto;
                display: block;
            }
        }
    }
}

#dear-diary,
#freedom-chat{
    text-align: center;
    font-size:40px;
}

#cv-main{
    .name{
        border:10px solid #bc2328;
        width:460px;
        padding:10px;
        margin:0 auto 30px auto;
        font-size: 50px;
    }
    .cv-sub-heading{
        font-size:45px;
        border-bottom:3px solid black;
    }   
    ul{
        list-style: none;
        li{
            overflow: auto;
        }
    }
    img.heading-image{
        width:65px;
        margin-top:0;
        margin-bottom:0;
        padding:0;
    }
    .section-heading{
        padding-top:5px;
    }
    .lefted{
            text-align: right;
    }
    .position-element{
        margin-bottom:30px;
        margin-top:30px;
        .position{
            padding:5px 0;
            font-size: 34px;
            font-weight:700;
        }
        .role{
            font-size:  20px;
            letter-spacing: 2px;
        }
        .period{
            padding:10px 0;
            color:#bc2328;
        }
    }
}
