/**
 * Site header
 */

.site-header {
    border-bottom: 1px solid #EAEAEA;
    min-height: 56px;
    position: relative;
    color : $text-color;
    margin: 0 auto;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.menu-icon{
        img{
            display: none;
        }
    }
.site-nav {
    float: right;
    line-height: 56px;
    .page-link {
        font-size: 17px;
        color: $text-color;
        line-height: $base-line-height;
        padding:0 10px;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            text-align: center;
            img{
                display: block;
                padding-top: 6px;
                margin-top: 2px;
                margin-left:2px;
                width: 33px;
                height: 30px;
            }

            > svg {
                width: 18px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            text-align: left;
        }
    }
}

/*
* About Page 
*/

h1#about-me{
    text-align: center;
    margin-bottom: 45px;
    font-size:40px;
}
.about-page{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    width:75%;
    margin: 60px auto;

}
/* end of about page */

/*
* Home Page
*/
.home{
    background:  linear-gradient(
      $main-red, 
      $main-red
    ), url("../pics/me.jpg");
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 0%;
    margin:0;
    height:100vh;
    min-height: 100%;
    position: relative;
    h1{
        text-align: center;
        color:white;
        position: relative;
        padding-left:10px;
        top: 50%;
        transform: translateY(-60%);
        font-size: 45px;
        letter-spacing: 2px;
        font-family: 'Lobster Two', "Lucida Grande", sans-serif;
    }
    img{
        text-align: center;
        border-radius: 50%;
        border: 6px solid white;
        position:absolute;
        transform: translateY(-50%);
        right:0;
        top:50%;
    }
    .col-md-4,
    .col-md-5,
    .col-md-7,
    .col-md-8,
    .col-md-6{
        height: 100vh;
        min-height: 280px;
        margin:auto auto;
        display: block;
    }
    @media screen and ( max-width: 991px ){
        img{
            width:200px;
            height: 200px;
            bottom:0%;
            left:50%;
            top:inherit;
            transform: translateX(-50%);

        }
        .col-md-4,.col-md-7,.col-md-5,.col-md-8,.col-md-6{
            height: 50vh;
        }
        h1{
            font-size: 30px;
            top:0%;
            transform: translateY(0%);
            border:1px solid white;
        }
        h1 .sub-title{
            font-size: 40px;
        }
    }
    .sub-title{
        font-size: 90px;
        font-family: 'Lobster Two', Helvetica, sans-serif;
        letter-spacing: 0px;
    }
   
}
   
  
 #blogSum{
        margin-top:5%;
        margin-bottom: 0%;
        //background: #E6E6E6;
        padding: 5% 0;
        position: relative;
    h2{
       /* position: absolute;
        top:45px;
        left:50%;*/
        text-align: center;
        width: 100%;
        }
    h1{
        text-align: center;
        font-size: 3.5em;
        color: $main-red;
        margin-bottom: 4%;
        font-family: "Courier New"
        }
    img.blog-img{
       -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        width: 130px;
        max-width: 20%;
        position: absolute;
        top:0;
        left:25%;
        display: block;
    }
    a,ul,li{
        text-decoration: none!important;
        list-style: none;
        font-size: 1.05em;
        margin: 0 0 1% 0;
    }
    li{
        position: relative;
        min-height: 50px;
        margin-bottom:60px;
    }
}

 /*
 * Contact page
 */

 .contact{
    label{
        display: block;
        margin-top: 20px;
    }
 }

 .comments{
    width: 70%;
    margin: 0% auto;
    display: block;
 }
/**
 *  Footer
 */
.site-footer {
    border-top: 3px solid $grey-color-light;
    padding: 2% 0;
    margin: 0;
}

.footer-list{
    width:50%;
    text-align:center;
    margin:2% auto;
    display:block;
    padding:0;
    img{
        width:10%;
        margin: 0 10%;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



/**
 * Page content
 */

 .disclaimer{
    background-color :  $main-red;
    padding: 1.5%;
    font-style: italic;
    margin-top: 5%;
    h2{
        text-align: center;
        margin-bottom: 1%;
    }
 }
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 2em;
}

.post-list { /*List of blog posts */
    margin-left: 0;
    margin:0% auto;
    list-style: none;   

    li {
        margin-bottom: 15%;
    }
}

.post-meta {
    font-size: 1.25em;
    color: $main-red;
    @include media-query($on-laptop) {
        font-size: 9px;
    }
}

.post-link {
    display: block;
    font-size: 2em;
     @include media-query($on-laptop) {
        font-size: 20px;
    }

}

.post-excerpt{
    font-size: 1.25em;
    text-align: justify;
    .post-end-link{
        color: $main-red;
        font-size: 0.75em;
        font-style: italic;
    }
    @include media-query($on-laptop) {
        font-size: 10px;
    }
}

/**
 * Posts
 */
 .post{
 overflow:auto;
 /*margin-top: 5%;*/
 position: relative;
  h1{
    margin-top: 1%;
    font-size:2.5em;
     @include media-query($on-laptop) {
        font-size: 25px;
 
    }
  }
  .main-head{
    margin-top: 13%;
  }
  .back-blog{
    position: absolute;
    top:20px;
    right:15%;
  }
    @include media-query($on-palm) {
        .back-blog{
            top:5px;
            right:82%;
            img{
                height:60px;
            }
        }
    }
 }
.post-header {
    margin-bottom: 2%;
    overflow:auto;
    text-align:center;
    width:70%;
    margin:0 auto;
    @include media-query($on-laptop) {
        font-size: 16px;
    }
   
}

.post-title {
    font-size: 2em;
    line-height: 1;
    text-align: center;
   
}

.post-content {
    overflow:auto;
    margin: 4% auto 5% auto;
    width: 70%;
    font-size:16px;
    text-align: justify;
    @include media-query($on-laptop) {
            width: 100%;
            margin-top: 10%; 
        }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
