
@import 'partials/cv';
@import 'partials/blog-post';
@import 'partials/projects';
@import 'partials/header';
@import 'partials/base';
@import 'partials/syntax-highlighting';
@import 'partials/layout';