
.projects-page{
	h1{
        margin-top: 1%;
        text-align: center;
        font-size:2.5em;
        border:3px solid black;
        @include media-query($on-laptop) {
            font-size: 25px;
        }
    }
}
.project{
  img.project-screenshots{
        width:99%;
        border:1px solid black;
        max-width:100%;
    }
}